.comment {
  @include flexbox-gap(column, center, center, 32px);
  position: relative;
  width: 85%;
  margin: 100px auto;
  overflow: hidden;

  @include for-pro-12-p {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 0;
  }

  @include for-pro-10-l {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 0;
  }

  @include for-pro-10-p {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 0;
  }

  & > h1 {
    position: relative;
    color: var(--black);

    @include for-desktop {
      font-size: 1.5rem;
      margin-bottom: 24px;
    }

    @include for-phone {
      font-size: 1.125rem;
      margin-bottom: 12px;
    }

    &:after {
      content: "";
      position: absolute;
      background: var(--orange);
      width: 100%;
      height: 5px;
      bottom: -10px;
      left: 0;
      @include for-phone {
        height: 3px;
      }
    }
  }

  & > .swiper-wrapper {
    .swiper-slide {
      display: grid;
      gap: 24px;
      background: var(--lightGrayf3);
      border-radius: 10px;
      padding: 12px;
      @include ease(0.2s);

      @include for-phone {
        gap: 12px;
      }

      & > header {
        display: flex;
        justify-content: space-between;

        & > h4 {
          display: flex;
          flex-direction: column;
          gap: 6px;
          font-size: 1.5rem;
          color: var(--black);

          @include for-phone {
            gap: 3px;
            font-size: 1.125rem;
          }

          & > small {
            font-size: 0.875rem;
            color: var(--fontColor);

            @include for-phone {
              font-size: 0.813rem;
            }
          }
        }

        & > img {
          width: 24px;
          @include for-phone {
            width: 18px;
          }
        }
      }

      .swiper-slide-text {
        display: grid;
        gap: 6px;

        @include for-phone {
          gap: 3px;
        }

        .star-rate {
          @include flexbox-gap(row, center, flex-start, 3px);
          font-size: 0.875rem;
          color: var(--yellow);
        }

        .message {
          letter-spacing: 0.05rem;
          font-size: 1.25rem;
          line-height: 1.75rem;
          text-align: justify;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: initial;
          overflow: hidden;
          @include ease(0.2s);

          @include for-phone{
            letter-spacing: 0.1rem;
            line-height: 1.5rem;
            font-size: 1.125rem;
          }
        }
      }

      &:hover {
        box-shadow: 0 3px 4px 0px var(--fontColor);
      }
    }
  }

  /* Swiper pagination */
  & > .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Swiper button */
  & > .swiper-button-prev,
  & > .swiper-button-next {
    position: absolute;
    border: 1px solid var(--orange);
    border-radius: 50%;
    width: 44px;
    top: 48px;
    color: var(--orange);
    @include translateY(-50%);
    @include ease(0.2s);
    z-index: 10;

    &:hover {
      border: 1px solid var(--green);
      color: var(--green);
    }

    @include for-phone {
      top: 39px;
      width: 24px;
      height: 24px;
    }

    &:before,
    &:after {
      font-size: 1.5rem;
      @include for-phone {
        font-size: 0.75rem;
      }
    }
  }

  /* Swiper button previous */
  & > .swiper-button-prev {
    left: 16px;
    @include for-phone {
      left: 0;
    }
  }

  /* Swiper button next */
  & > .swiper-button-next {
    right: 16px;
    @include for-phone {
      right: 0;
    }
  }

  & > .swiper-button-disabled {
    @include hide;
    visibility: hidden;
  }
}
