.header {
  @include flexbox(row, center, space-between);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 16px;
  @include ease(0.2s);
  z-index: 11;

  .dropdown{
    border: unset;
    padding: unset;
    &:hover{
      background-color: unset;
      border: unset;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--white);
      box-shadow: 0px 8px 16px 0px var(--boxShadow);
      z-index: 1;
      border-top: 2px solid var(--orange);
      margin-top: 2px;
    }
    &:hover .dropdown-content {
      @include flexbox(column,start,start);
      a{
        display:block;
        cursor: pointer;
        padding: 16px 24px;
        border-bottom: 1px solid var(--border);
        color: var(--fontColor);
      &:hover{
        color: var(--orange);
      }
      }
    }
  }


  & a,
  & button {
    color: var(--black);
    @include ease(0.2s);

    @include for-largepad {
      width: fit-content;
    }

    &:hover {
      color: var(--orange);
    }
  }

  & button {
    border: 1px solid var(--orange);
    padding: 6px;
    color: var(--orange);

    &:hover {
      background: var(--orange);
      border: 1px solid var(--orange);
      color: var(--white);
    }
  }

  .ci {
    width: 75px;
    @include for-phone{
      width: 60px;
      height: fit-content;
    }
    img{
      height: unset;
    }
  }

  &>nav {
    @include flexbox-gap(row, center, flex-start, 16px);

    @include for-largepad {
      display: grid;
      grid-template-columns: auto;
      gap: 24px;
      place-items: center;
      justify-content: center;
      align-content: center;
      background: var(--orange);
      position: fixed;
      padding-top: 56px;
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
      left: 0;
      top: 0;
      @include scale(0);
      transform: rotate3d(1,1,1,120deg);
      @include transform-origin(95% 10%);
      @include hide;
      @include ease(0.5s);
    }
  }

  .mobile-nav-switch {
    display: none;

    @include for-largepad {
      display: block;
      z-index: 2;
    }
  }
}

.header-fixed {
  background: var(--white);
  padding: 6px 16px;
  box-shadow: 0 2px 5px 0px #{"var(--boxShadow)"};

  & a,
  & button {
    color: var(--fontColor);
  }

  & button {
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  &>nav {
    @include for-largepad {
      top: 6px;
    }
  }

  .ci {
    width: 50px;
  }
}


.mobile-nav-open {

  & a,
  & button {
    color: var(--white);

    &:hover {
      color: var(--purple);
    }
  }

  & button {
    border: none;
  }

  &>nav {
    top: 0;
    padding-top: 10vh;
    @include scale(1);
    transform: rotate3d(1,1,1,0deg);
    align-content: start;
    @include show;

    .dropdown{
      text-align: center;
      &:hover .dropdown-content {
        display: none;
      }

      &:hover .dropdown-content{
        position: relative;
        background-color: unset;
        box-shadow: unset;
        @include flexbox(column,center,center);
        a{
          display:block;
          padding: 16px 24px;
          background-color: #ec8508;
          margin-bottom: 2px;
          width: 100vw;
          font-size: 1rem;
          border-bottom: unset;
          color: var(--white);
        }
      }
    }
  }
}