.physiotherapy{
  margin-top: 80px;

  .treat-pt{
    height: fit-content;
    .swiper-slide{
      display: none;
      height: 160px;
      @include flexbox(column,center,center);
      background-color: var(--black);
      border: 4px solid transparent;
      color: var(--black);
      cursor: pointer;
      filter: brightness(70%);
      @include for-pad{
        height: 200px;
      }
      button{
        color: white;
        background-color: var(--orange);
        font-size: 1.75rem;
        padding: 4px 8px;
        text-shadow:0px 2px 6px rgba(0, 0, 0, 0.3);
        @include for-phone{
          font-size: 1.25rem;
        }
      }
      &:first-child{
        background:url("../../image/treat/pt-0.jpg") no-repeat center;
        background-size: cover;
      }
      &:nth-child(2){
        background:url("../../image/treat/pt-1.jpg") no-repeat center;
        background-size: cover;
      }
      &:nth-child(3){
        background:url("../../image/treat/pt-2.jpg") no-repeat center;
        background-size: cover;
      }
      &:nth-child(4){
        background:url("../../image/treat/pt-3.jpg") no-repeat center;
        background-size: cover;
      }
      &:nth-child(5){
        background:url("../../image/treat/pt-4.jpg") no-repeat center;
        background-size: cover;
      }
      &:last-child{
        background:url("../../image/treat/pt-5.jpg") no-repeat center;
        background-size: cover;
      }
      &:hover{
        opacity: 1;
      filter: brightness(100%);
      @include ease(.2s);
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
      filter: brightness(100%);
      border: 4px solid var(--orange);
    }
  }
  .treat-pt-show{
    margin-top: 4px;
    height: 70vh;
    @include for-pad{
      height: 60vh;
    }
    @include for-phone{
      height: 70vh;
    }
    .swiper-slide{
      overflow-y: auto;
        @include mac-scrollbar-style;
      .cover{
        @include flexbox(row,start,start);
        width: 100%;
        gap: 40px;
        @include for-pad{
          gap: 0px;
        }
        &.cover0{
          background:url("../../image/bg/website-treat-pt0.jpg") no-repeat center;
          background-size: cover;
        }
        &.cover1{
          background:url("../../image/bg/website-treat-pt1.jpg") no-repeat center;
        }
        &.cover2{
          background:url("../../image/bg/website-treat-pt2.jpg") no-repeat center;
        }
        &.cover3{
          background:url("../../image/bg/website-treat-pt3.jpg") no-repeat center;
        }
        &.cover4{
          background:url("../../image/bg/website-treat-pt4.jpg") no-repeat center;
        }
        &.cover5{
          background:url("../../image/bg/website-treat-pt5.jpg") no-repeat center;
        }
        article{
          padding: 32px;
          background-color: rgba(256,256,256,0.8);
          backdrop-filter: blur(20px);
          box-shadow: 0px 25px 60px -15px rgba(0, 0, 0, 0.15);
          max-width: 40vw;
          height: 100%;
          color: var(--black);

          @include for-pad{
            margin:  40px auto;
            max-width: 90vw;
            max-height: 50vh;
            overflow: auto;
          }
          @include for-phone{
            box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.15);
          }
          h1{
            margin-bottom: 16px;
            width: fit-content;
            background-color: var(--lightGreen);
            color: var(--black);
            padding: 4px;
            letter-spacing: 1px;
          }
          h2{
            font-size: 1.75rem;
            line-height: 2.5rem;
            letter-spacing: 1.15px;
            padding-bottom: 8px;
            margin-top: 8px;
          }
          h3{
            width: 100%;
            font-size: 1.5rem;
            line-height: 2.5rem;
            letter-spacing: 1.15px;
            margin-bottom: 8px;
            border-bottom: 2px solid var(--lightGreen);
          }
          p.text-body{
            padding-bottom: 24px;
          }
          ul{
            padding: 0px 0;
            @include flexbox(column,start,start);
            gap: 8px;
            width: 100%;
            &.b-list{
              h3{
                margin: 24px 0 8px 0;
              }
            }
            &.number-list li{
              list-style: decimal;
              list-style-position: inside;
            }
            li{
              width: 100%;
              font-size: 1.25rem;
              color: var(--black);
              font-weight: 300;
              letter-spacing: 1px;
              padding-bottom: 2px;
              div:first-child{
                background-color: var(--lightGreen);
                font-weight: 400;
                padding: 4px;
                margin-bottom: 4px;

              }
              .s-list{
                width: 100%;
                margin: 4px 0;
                padding: 8px;
                @include flexbox(column,start,start);
                border-radius: 4px;
                color: var(--fontColor);
                gap: 2px;
                li{
                  list-style:none;
                  font-weight: 300;
                  padding: 12px;
                  margin: 0;
                  width: 100%;
                  background-color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }
}